<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= image_tag(item.product.image_url, width: 50) %></td>
        <td><%= item.product.name %></td>
        <td><%= number_to_currency(item.product.cost) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Total: <%= number_to_currency(@order.total) %></p>
